<h1><%= @list.name %></h1>
<div>
<h2>Details</h2>
  <ul>
    <% @list.bookmarks.each do |bookmark| %>
      <li>
        <%= bookmark.movie.title %>
        <%= bookmark.movie.rating %>
        <%= bookmark.movie.overview %>
        <br>
        <p>Comment: <%= bookmark.comment %></p>
      </li>
      <br>
    <% end %>

  </ul>
</div>
<%= link_to "Bookmark A Movie to This Page", new_list_bookmark_path(@list) %>
<br>
<%= link_to "Back to Lists", lists_path %>
